<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
// import example from './components/Example.vue'

export default {
  name: 'app',

  components: {
  }
}
</script>

<style>
@font-face {
  font-family: GamestationCond;
  src: url('assets/fonts/GochiHand-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('assets/fonts/Raleway-Regular.ttf');
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

.page{
  position:fixed;
  width:inherit;
}
</style>
