<template>

  <div id="home">
    <Navbar />
    <div class="bg" :style="{'background-image': `url(${bgImg})`}">
      <div class="titles">
        <h1 id="title">Natujuegos</h1>
        <h3 id="subtitle">Descubrí la flora y fauna argentina</h3>
      </div>
    </div>
    <Games />
    <Project />
    <Contact />
    <h4 id="amor" centered>
      </> con ♥ por naturalistas </h4>
    <h6 id="mail" centered> natujuegos@protonmail.com </h6>
    <a  rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" id="licencia" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>.

    <router-view />
  </div>
  </div>

</template>

<script>

  import Navbar from '../components/Navbar.vue'
  import Games from '../components/Games.vue'
  import Project from '../components/Project.vue'
  import Contact from '../components/Contact.vue'

  export default {
    // en "name" hay que poner el nombre del archivo como en este caso.
    name: 'home',
    components: {
      Navbar,
      Games,
      Project,
      Contact
    },
    data() {
      return {
        bgImg: require('@/assets/fondo.png')
      }
    }
  }

</script>

<style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  #Navbar {
    padding: 0rem 2rem;
  }

  .bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0px -147px;
    background-repeat: no-repeat;
  }

  #title {
    font-size: 7.5rem;
    text-align: center;
    text-transform: lowercase;
    -webkit-animation: comingDown 1s forwards;
    animation: comingDown 1s forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0.5s;
    opacity: 0;
    color: white;
    padding-top: 197px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: monospace;
    -webkit-text-stroke: 1px #bfbd5f66;
  }

  #licencia{
    padding-bottom: 20px;
  }

  #subtitle {
    font-size: 1.4rem;
    padding-top: 1px;
    color: #ffffff;
    text-align: center;
    text-transform: lowercase;
    font-weight: 550;
    letter-spacing: 1px;
    font-family: monospace;
    -webkit-animation: comingDown 1s forwards;
    animation: comingDown 1s forwards;
    -webkit-animation-delay: 0s;
    animation-delay: 0.5s;
    opacity: 0;
    -webkit-text-stroke: 0.5px #bfbd5f66;
  }

  @keyframes comingDown {
    from {
      transform: translatey(-300px);
      animation-delay: 0.5s;
      opacity: 0;
    }

    to {
      transform: translateX(0px);
      animation-delay: 0.5s;
      opacity: 1;
    }
  }

  .custom-control-label {
    font-size: 14px;
  }

  .modal-header {
    padding: 10px 10px;
  }

  .modal-dialog {
    max-width: 60vw;
    margin: 0.3rem auto;
  }
  .modal-title {
    margin-bottom: 0px;
    line-height: 1.5;
    padding: 5px;
  }

  .modal-header .close {
    padding: 0px;
    width: 70px;
  }

  .btn-group button {
    height: 40px;
    font-size: 14px;
  }

  .modal-content button {
    height: 40px;
  }

  .modal-header .close {
    margin-top: 0px;
  }

  .modal-header {
    padding: 0px 10px;
  }
  #amor,
  #mail {
    color: #e020a2;
    font-family: monospace;
  }
  #mail {
    padding-bottom: 20px;
  }
  h4,
  .h4 {
    font-size: 1.5rem;
  }

  @media (max-width: 425px) {
    .bg {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: -240px center;
      background-repeat: no-repeat;
    }

    #title {
      font-size: 3rem;
      padding-top: 110px;

      left: 22%;
    }
    .titles {
      padding: 15px;
    }

    #subtitle {
      font-size: 1.5rem;
    }
    .modal.show .modal-dialog {
      -webkit-transform: none;
      transform: none;
      width: 100% !important;
      margin: 0 auto !important;
      max-width: 90vw !important;
    }

    #modal-1 {
      padding-left: 0px;
    }
  }

  @media (max-width: 320px) {
    h4,
    .h4 {
      font-size: 1rem;
    }
    .bg {
      background-position: -285px center;
    }
  }

</style>
