<template>

  <div id="juegoavanzado">
    <AdvancedQuiz />
  </div>

</template>

<script>

  import AdvancedQuiz from '../components/AdvancedQuiz.vue'

  export default {
    // en "name" hay que poner el nombre del archivo como en este caso.
    name: 'Game',
    components: {
      AdvancedQuiz
    }
  }

</script>

<style>

</style>
