<template>

  <div class="bg-g">
    <b-container class="bv-example-row" id="juegos">
      <h1 id="tituloadivina">ADIVINA LA ESPECIE</h1>
      <h3>Elije entre el modo principiante y avanzado para empezar a jugar</h3>
      <div>
        <b-card-group deck>
          <b-card title="aves" img-src="@/assets/peregrino.png" img-alt="Image" img-top>
            <template v-slot:footer>


              <b-button variant="primary" class="mr-1" router-link to="/juego" id="principiante">Principiante
              </b-button>


              <div v-b-modal.modal-1 event="" @click="handleOpenModal()">
                <b-modal v-if="openModal" id="modal-1" title="Configura tu partida" hide-footer>
                  <SelectEcorregion />
                </b-modal>

                <b-button href="#" variant="primary" class="ml-1" id="avanzado">Avanzado</b-button>
              </div>

            </template>
          </b-card>

          <b-card title="cánidos y félidos" img-src="@/assets/oce.jpeg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>

          <b-card title="cetáceos" img-src="@/assets/ballena.jpg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>

          <b-card title="otros mamíferos" img-src="@/assets/otrosmamiferos.jpg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>
        </b-card-group>
      </div>

      <div>
        <b-card-group deck>

          <b-card title="reptiles no aviares" img-src="@/assets/overo.jpg" img-alt="Image" img-top>

            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>

          <b-card title="plantas y hongos" img-src="@/assets/araucaria.jpg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>

          <b-card title="artrópodos" img-src="@/assets/mantis.jpg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>



          <b-card title="anfibios" img-src="@/assets/anfibios.jpg" img-alt="Image" img-top>
            <template v-slot:footer>
              <b-button href="#" disabled class="mr-1">Principiante</b-button>
              <b-button href="#" disabled class="ml-1">Avanzado</b-button>
            </template>
          </b-card>
        </b-card-group>
      </div>

    </b-container>
  </div>

</template>

<script>

  import SelectEcorregion from '../components/SelectEcorregion.vue'

  export default {
    // en "name" hay que poner el nombre del archivo como en este caso.
    name: 'Games',
    components: {
      SelectEcorregion
    },
    methods: {
      handleOpenModal() {
        this.openModal = true
      }
    },

    data() {
      return {
        openModal: false,
        dis: true
      }
    }
  }

</script>



<style scoped>

  #tituloadivina {
    font-size: 1.5rem;
    padding: 35px 0px;
    margin-bottom: -16px;
    margin-top: -90px;
    text-align: left;
    font-family: Raleway;
    margin-left: -10px;
  }

  h4 {
    font-size: 1.3rem;
  }

  .bg-g {
    width: 100%;
    background-size: cover;
    background-position: 0px -163px;
    background-repeat: no-repeat;
  }

  .card-deck {
    justify-content: space-evenly;
  }

  .bv-example-row {
    padding-top: 90px;
    padding-bottom: 120px;
    max-width: 100vw;
  }

  .mb-2 {
    width: 20rem;
    margin-bottom: 35px !important;
  }

  .flexb {
    display: flex;
  }

  .card-deck .card {
    max-width: 18rem;
    margin: 5px !important;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.07), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  }

  #principiante {
    background-color: limegreen;
  }

  #avanzado {
    background-color: tomato;
    width: 112px;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    /* -webkit-box-flex: 1; */
    flex: 1 1 auto;
    padding: 10px;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    display: inline-flex;
    text-align: center;
  }

  .card-title {
    margin: 0px;
    vertical-align: middle;
    font-family: monospace;
    font-size: 14px;
    height: fit-content;
  }

  .card-deck .card {
    max-width: 18rem;
    margin: 5px !important;
    -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.07), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.07), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  }

  #juegos {
    padding: 130px 215px;
  }

  .card-footer {
    display: flex !important;
    /* flex-grow: 1; */
    /* flex-basis: auto; */
    padding: 1px !important;
    background-color: unset !important;
    justify-content: space-between;
  }

  a,
  b-button {
    border-color: unset !important;
    margin: 0px !important;

    text-decoration: none;
    width: 115px;
    flex-grow: 1 !important;
    flex-basis: 50% !important;
    border-color: unset !important;
    margin: 0px !important;
    border-radius: unset !important;
  }

  button {
    width: unset !important;
    height: unset !important;
  }

  .btn-primary[data-v-2b7dd641]:hover,
  a[data-v-2b7dd641]:hover,
  b-button[data-v-2b7dd641]:hover {
    color: #fff;
    opacity: 0.5 !important;
  }

  h3,
  .h3 {
    font-size: 18px;
    padding: 10px 0px !important;
    text-align: left;
    margin-left: -10px;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 425px) {
    #juegos {
      padding: 80px 5px;
    }

    .card-deck .card {
      margin: 0 auto !important;
      margin-bottom: 20px !important;
      max-width: unset;
    }

    .card-deck {
      padding: 0 15px !important;
    }

    #avanzado {
      background-color: tomato;
      width: 161px;
    }

    h1[data-v-2b7dd641][data-v-2b7dd641] {
      font-size: 1.5rem;
      padding: 30px;
      margin-bottom: 25px;
      margin-top: 0px;
      text-align: center;
      font-family: Raleway;
      margin-left: 0px;
    }

    h3 {
      font-size: 18px;
      padding: 10px 15px !important;
      text-align: center;
      margin-left: 0px;
    }
  }

  .card-deck {
    padding-top: 3px;
  }

  .disabled {
    background-color: #b7b7b7 !important;
  }

  @media (max-width: 425px) {
    .modal-dialog {
      width: 90vw !important;
      margin: 5px 0px !important;
    }

    .mapa {
      display: none;
    }

    .btn-group > .btn,
    .btn-group-vertical > .btn {
      position: relative;
      -ms-flex: 1 1 auto;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      font-weight: bold;
    }

    .modal.show .modal-dialog {
      -webkit-transform: none;
      transform: none;
      width: 100% !important;
      margin: 0 auto !important;
      max-width: 90vw !important;
    }

    .modal-dialog {
      width: 100% !important;
      margin: 0 auto !important;
      max-width: 90vw !important;
    }

    #avanzado {
      width: 190px;
    }
    #tituloadivina {
      text-align: center;
    }
  }

  @media (max-width: 375px) {
    #avanzado {
      width: 166px;
    }
  }

  @media (max-width: 320px) {
    #avanzado {
      width: 137px;
    }
  }

</style>
