<template>

  <div>
    <b-nav tabs id="navtabs">
      <b-nav-item><router-link to="/"><b>NATUJUEGOS</b></router-link></b-nav-item>
      <b-nav-item disabled>Contador: {{ numCorrect }}/{{ numTotal }}</b-nav-item>
    </b-nav>

  </div>

</template>

<script>

  export default {
    props: ['numCorrect', 'numTotal']
  }

</script>

<style>
#navtabs {
  border-bottom: 1px solid #dee2e6;
  padding: 10px;

}
#navtabs > li > a > a{
  color: #6c757d !important;
  border: unset !important;
}
</style>
