<template>

  <div>
    <b-navbar toggleable="sm" fixed="top">
      <b-navbar-brand href="#home">natujuegos</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item id="botonJugar" href="#juegos">Jugar</b-nav-item>
          <b-nav-item href="#proyecto">Proyecto</b-nav-item>
          <b-nav-item href="#contacto">Contacto</b-nav-item>

        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>

</template>



<style scoped>

  #botonJugar {
    background-color: #f9e47f;
    border-radius: 6px;
  }

  nav {
    background-color: ivory !important;
    padding: 5px 40px;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.07), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-dark .navbar-nav .nav-link {
    font-family: Raleway;
    margin: 5px;
    border-radius: 5 px;
  }
  .navbar-light .navbar-toggler {
    width: auto !important;
    height: auto !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #6a1b9a !important;
    padding: 10px 18px;
  }
  .navbar-light .navbar-brand {
    color: #6a1b9a !important;
  }

</style>
