<template>

  <div id="app">
    <Header :numCorrect="numCorrect" :numTotal="numTotal" />

    <b-jumbotron id="jumbo">

      <QuestionBox v-if="questions.length > this.index" :currentQuestion="questions[index]" :next="next" :increment="increment"
      />
      <h1 class="muy"
        v-if="questions.length == this.index && this.index > 1 &&
        this.numCorrectRow >= 3 ">
        ¡Muy bien!
      </h1>

      <h1 class="muy"
        v-if="questions.length == this.index && this.index > 1 &&
        this.numCorrectRow < 3 ">
        ¡Sigue intentando!
      </h1>

      <b-button id="nuevo"
                variant="outline-dark"
                class="mt-5 mb-5"
                v-if="questions.length == this.index && this.index > 1"
                @click="init">Jugar de nuevo</b-button>
    </b-jumbotron>
    <h4 id="amor" centered>
      </> con ♥ por naturalistas </h4>
    <h6 id="mail" centered> natujuegos@protonmail.com </h6>

    <div role="tablist">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#" v-b-toggle.accordion-1 variant="info">Licencia</b-button>
        </b-card-header>
        <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
          <b-card-body>

            <b-card-text id="licenciafoto">Foto: {{ autor }}</b-card-text>

              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>.
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>

  </div>

</template>

<script>

  import Header from './Header.vue'
  import QuestionBox from './QuestionBox.vue'

  export default {
    name: 'app',
    components: {
      Header,
      QuestionBox
    },
    data() {
      return {
        questions: [],
        questionsLength: 0,
        index: 0,
        numCorrect: 0,
        numTotal: 0,
        numCorrectRow: 0,
        numTotaltRow: 0,
      }
    },
    methods: {
      next() {
        this.index++
        this.autor = this.questions[this.index].author
        if (this.numTotaltRow == 5) {
          this.numTotalRow = 0
          this.numCorrectRow = 0
        }
      },
      increment(isCorrect) {
        if (isCorrect) {
          this.numCorrect++
          this.numCorrectRow++
        }
        this.numTotal++
        this.numTotalRow++
      },
      init() {
        let url = '/api/baires_city_birds'
        fetch(url, {
          method: 'get'
        })
          .then(response => {
            return response.json()
          })
          .then(jsonData => {
            this.questions = jsonData.results
            this.questionsLength = this.questions.length
            this.index = 0
            this.autor = this.questions[this.index].author

          })
      }
    },

    mounted() {
      this.init()
    },
    watch: {
      questions: {
        handler() {
          numTotal: 0
        }
      }
    }
  }

</script>

<style>

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nuevo {
    width: 300px;
    height: 70px;
    background-color: mistyrose;
  }
  #nuevo:hover{
    background-color: grey;
    color: white;
  }

  #muy,
  #correctas {
    color: white;
    font-size: 2.5rem;
  }


  #mail {
    color: #e020a2;
    font-family: monospace;
    font-size: 0.8rem;
  }

  #amor,
  #mail {
    color: #e020a2;
    font-family: monospace;
  }

  #jumbo {
    height: 75vh;
    background: linear-gradient(
      302deg,
      rgba(253, 219, 45, 0.76234243697479) 0%,
      rgba(224, 32, 162, 0.7455357142857143) 100%
    ) !important;
  }

  @media (max-width: 425px) {
    #nuevo {
      width: 50vw !important;
    }

    #muy,
    #correctas {
      color: white;
      font-size: 1.5rem;
    }

    #jumbo {
      height: unset;
      background: linear-gradient(
        302deg,
        rgba(253, 219, 45, 0.76234243697479) 0%,
        rgba(224, 32, 162, 0.7455357142857143) 100%
      ) !important;
    }
  }

</style>
